:host {
    height: 100%;
    overflow: auto;
}

.study-plan-card-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    row-gap: 2rem;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

.grid-cell {
    display: flex;
    justify-content: center;
}

.study-plan-card {
    width: 15rem;
    height: 15rem;
    background-color: var(--primary-color);
    border-radius: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 3px gray;
    overflow: hidden;

}

.study-plan-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 70%;
    width: 100%;
}

.study-plan-card-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: white;
}

.study-plan-card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--primary-color);
    width: 50%;
    height: 100%;
    transition: 0.3s;
}

.study-plan-card-action:hover {
    cursor: pointer;
    backdrop-filter: brightness(90%);
    transition: 0.3s;
}

.create-plan-button fa-icon {
    color: var(--darker-primary-color)
}

.goto-plan-button:hover {
    background-color: var(--dark-primary-color);
}

.create-study-plan-button {
    justify-content: center;
    transition: 0.3s;
}

.create-study-plan-button:hover {
    cursor: pointer;
    filter: brightness(110%);
    transition: 0.3s;
}
