/* Variables */
$variable-collection-contrast: #e84a5f;
$variable-collection-main-color: #45ada8;

/* Styles */
$background-background: #f2f5f7;
$background-color: #f2f5f7;
$lighter-main-background: #dcedc2;
$lighter-main-color: #dcedc2;
$l-ight-main-background: #a8e6ce;
$l-ight-main-color: #a8e6ce;
$main-background: #45ada8;
$main-color: #45ada8;
$dark-main-background: #547980;
$dark-main-color: #547980;
$darker-main-background: #2a363b;
$darker-main-color: #2a363b;
$light-gray-background: #a8a7a7;
$light-gray-color: #a8a7a7;
$gray-background: #474747;
$gray-color: #474747;
$black-background: #363636;
$black-color: #363636;
$contrast-background: #ff8c94;
$contrast-color: #ff8c94;
@mixin title-large-text {
  font-family: Montserrat;
  font-style: Black;
  font-size: 60px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin title-medium-text {
  font-family: Magra;
  font-style: Regular;
  font-size: 40px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin normal-text {
  font-family: Urbanist;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin logo-large-text {
  font-family: Montserrat;
  font-style: Bold;
  font-size: 60px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin logo-text {
  font-family: Montserrat;
  font-style: Bold;
  font-size: 30px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin normal-small-text {
  font-family: Urbanist;
  font-style: Regular;
  font-size: 12px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
@mixin menu-item-text {
  font-family: Urbanist;
  font-style: Bold;
  font-size: 25px;
  letter-spacing: 0%;
  line-height: auto;
  text-decoration-line: none;
  text-transform: none;
}
