<div mat-dialog-title class="plan-modal-header">
    <div class="header-logo-image"></div>
    <p>Criar Plano</p>
</div>

<mat-dialog-content class="plan-modal-body">
    <form [formGroup]="planForm">
        <input
            id="title"
            formControlName="title"
            type="text"
            placeholder="Título do Plano"
        />
        <p
            *ngIf="!planForm.get('title')?.valid && planForm.get('title')?.touched"
            class="form-errors"
        >
            {{ planForm.get('title')?.errors?.['error'] }}
        </p>

        <select
            id="visibility"
            formControlName="visibility"
        >
            <option
                *ngFor="let opt of visibilityOptions"
                [ngValue]="opt.value"
            >
                {{ opt.label }}
            </option>
        </select>
        <p
            *ngIf="!planForm.get('visibility')?.valid && planForm.get('visibility')?.touched"
            class="form-errors"
        >
            {{ planForm.get('visibility')?.errors?.['error'] }}
        </p>
    </form>
    <p *ngIf="formErrors" class="form-errors">
        {{ formErrors }}
    </p>
</mat-dialog-content>

<mat-dialog-actions class="plan-modal-footer">
    <button
        mat-flat-button
        color="primary"
        [disabled]="!planForm.valid"
        (click)="createStudyPlan()"
    >
        Criar
    </button>
    <button mat-flat-button color="warn" (click)="close()">Cancelar</button>
</mat-dialog-actions>
