<div *ngIf="!isAuthor" class="page-wrapper">
    <div class="page-title">ACESSO NEGADO!</div>
    <div class="page-body">Você não possui acesso a este plano!</div>
</div>

<div *ngIf="isAuthor" class="page-wrapper">
    <div class="page-title">
        {{title}}
        <div class="study-plan-options">
            <button
                mat-flat-button
                color="primary"g
            mat-flat-button
            color="primary"
            (click)="cloneStudyPlan()"
            >
                Clonar
            </button>
            <button
                *ngIf="isAuthor"
                mat-flat-button
                color="primary"
                (click)="deleteStudyPlan()"
            >
                Deletar
            </button>
        </div>
    </div>
    <div class="page-body">
        <div class="topics">
            <div class="topic" *ngFor="let topic of topics">
                <div class="page-section-title">{{topic.title}}</div>
                <div class="page-section-body">{{topic.description}}</div>
            </div>
            <button
                *ngIf="isAuthor"
                mat-flat-button
                color="primary"
                (click)="openTopicModal()"
            >
                Adicionar tópico
            </button>
        </div>
    </div>
</div>