<div class="header_28-13">
  <div class="header-logo_28-3">
    <div class="version_28-4">
      <span class="text-learning-path_28-5">Learning Path</span>
      <app-logo class="logo_28-176"></app-logo>
    </div>
  </div>
  <div class="menu_28-7">
    <span class="text-login_28-8">Login</span>
    <a href="https://github.com/mabemoreira/LearningPath" class="text-github_28-9">Github</a>
    <span class="text-equipe_28-10">Equipe</span>
    <span class="text-produto_28-11">Produto</span>
  </div>
  <div class="rectangle-25_28-12">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC"
    />
  </div>
</div>
