<div class="page-wrapper">
    <div class="page-title">{{title}}</div>
    <div class="page-body">
        <div class="topics">
            <div class="topic" *ngFor="let topic of topics">
                <div class="page-section-title" [style.textDecoration]="topic.done? 'line-through' : ''">
                    <input
                        (click)="markAsDoneOrUndone(topic.id)"
                        type="checkbox"
                        class="topic-checkbox"
                        name="topic-checkbox"
                        [checked]="topic.done"
                    >
                    {{topic.title}}
                </div>
                <div class="page-section-body">{{topic.description}}</div>
            </div>
        </div>
    </div>
</div>