<main class="container">
    <div class="title">Produto</div>
    
    <section>
        <h2 class="section-title">O que é o Learning Path?</h2>
        <p class="text-content">
            Cillum aliqua ut duis. Anim esse quis commodo voluptate culpa dolor amet ex excepteur laboris et. Sit nulla
            exercitation reprehenderit irure enim veniam sit. Anim occaecat ex culpa ex irure aliquip. Est est laborum
            deserunt incididunt. Sit nostrud excepteur aute aliqua. Sunt in sit consectetur ea.
        </p>
        <p class="text-content">
            Fugiat ut officia id non officia veniam fugiat est. Deserunt ipsum consequat cillum minim consectetur in
            incididunt irure Lorem nisi consectetur aliqua eiusmod. Laborum velit minim officia velit qui ut id labore et
            esse. Consequat dolor cillum voluptate. Laborum dolore eiusmod exercitation sunt officia aute nostrud proident
            nostrud cillum Lorem sunt aliqua veniam velit. Veniam ex adipisicing aliqua anim minim reprehenderit sint do in
            occaecat nostrud. Sint incididunt velit veniam id cillum laborum officia. Mollit amet amet est labore.
        </p>
    </section>

    <section>
        <h2 class="section-title">Contribua para o projeto!</h2>
        <p class="text-content">
            Qui officia cupidatat Lorem consequat est commodo labore est. Laboris elit deserunt est officia ad commodo ex
            voluptate ex culpa cillum est magna. Non anim excepteur irure ut qui occaecat nulla do nulla irure proident
            mollit. Ipsum velit veniam fugiat proident ullamco magna anim ea ea ipsum. Voluptate nostrud officia laborum
            proident mollit. Duis duis labore tempor elit incididunt aute mollit dolor ullamco aliqua magna irure. Aliquip
            excepteur est ad consectetur laboris ut officia duis sunt.
        </p>
    </section>

    <section>
        <h2 class="section-title">Licenças</h2>
        <p class="text-content">
            Culpa aliquip consequat eu tempor. Magna elit magna commodo tempor ut cupidatat eu ea. Velit et proident
            reprehenderit excepteur in ex. Excepteur reprehenderit nulla enim. Cillum sunt commodo occaecat nisi ea esse et
            aute.
        </p>
    </section>
</main>