<main class="container">
    <div class="title">LearningPath: Seu Caminho Personalizado para o Sucesso Acadêmico</div>
    
    <section>
        <h2 class="section-title">Transforme Seus Estudos com Planos de Estudo Sob Medida</h2>
        <p class="text-content">
            A organização é o segredo para o sucesso. No mundo acelerado de hoje, ter um plano de estudo estruturado 
            é essencial para maximizar seu tempo e alcançar seus objetivos. O LearningPath torna esse processo mais fácil, 
            oferecendo ferramentas para criar planos de estudo personalizados que se ajustam ao seu ritmo e às suas necessidades.
        </p>
    </section>

    <section>
        <h2 class="section-title">Por que escolher o LearningPath?</h2>
        <p class="text-content">
            O LearningPath oferece uma experiência de estudo personalizada, permitindo que você monte seu plano com tópicos, prazos e carga ajustada ao seu ritmo. 
            Compartilhe e colabore com amigos, estabeleça metas claras e acompanhe seu progresso! Além disso, veja quanto tempo você dedicou a um determinado plano,
            para maior motivação. O LearningPath é a ferramenta perfeita para quem deseja alcançar o sucesso acadêmico.
        </p>
    </section>

    <section>
        <h2 class="section-title">Comece Agora - Organize Seus Estudos e Alcance Seus Objetivos</h2>
        <p class="text-content">
            O sucesso acadêmico começa com organização. O LearningPath é a 
            ferramenta perfeita para você construir o seu caminho de forma prática, 
            inteligente e personalizada.
        </p>
    </section>
</main>