@import "src/app/tokens.scss";

.landing-page_6-2 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: $background-background;
  width: 1440px;
  height: 1024px;
}
.footer_28-31 {
  top: 940px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1440px;
  height: 84px;
}

.central-logo_6-51 {
  top: 256px;
  left: 497px;
  position: absolute;
  display: flex;
  width: 444px;
  height: 548px;
}
.text-a-caminho-do-conhecimento-_18-8 {
  color: #bebebe;
  font-size: 20px;
  font-family: Magra;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
  width: 243px;
  height: 24px;
}

.text-learning-path_6-50 {
  color: #45ada8;
  @include logo-large-text;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 444px;
  height: 73px;
  text-shadow: 2px 4px 4px #0000003f;
}

.logo_28-109 {
  position: relative;
  width: 400px;
  height: 400px;
}

.header_28-14 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 1440px;
  height: 100px;
}
