@import "src/app/tokens.scss";

.logo_28-46 {
  position: relative;
  box-sizing: border-box;
}
.subtract_2-55 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.ellipse-8_2-56 {
  display: flex;
}

.ellipse-9_2-57 {
  display: flex;
}

.rectangle-1_2-58 {
  top: 113px;
  left: 121px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-3_2-59 {
  top: 240px;
  left: 121px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle-5_2-60 {
  top: 175px;
  left: 190px;
  position: absolute;
  display: flex;
  display: flex;
}

.polygon-1_2-61 {
  top: 146px;
  left: 122px;
  position: absolute;
  display: flex;
  display: flex;
}

.union_2-62 {
  top: 146px;
  left: 190px;
  position: absolute;
  display: flex;
  display: flex;
}
.rectangle-6_2-63 {
  display: flex;
}

.rectangle-8_2-64 {
  display: flex;
}

.subtract_2-65 {
  display: flex;
}
.subtract_2-66 {
  display: flex;
}
.ellipse-5_2-67 {
  display: flex;
}

.ellipse-6_2-68 {
  display: flex;
}

.rectangle-8_2-69 {
  display: flex;
}
